@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #434343 0%, black 100%);
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    /* backdrop-filter: blur(15px); */
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container .calculator{
    position: relative;
    display: grid;
}

.container .calculator .value {
    grid-column: span 4;
    height: 140px;
    width: 300px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.container .calculator span {
    display: grid;
    place-items: center;
    height: 75px;
    width: 75px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.container .calculator span:hover {
    transition: 0s;
    background: rgba(255, 255, 255, 0.05);
}

.container .calculator span:active {
    background: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}

.container .calculator .clear {
    grid-column: span 2;
    width: 150px;
    background: rgba(255, 255, 255, 0.05);
}

.container .calculator .plus {
    grid-row: span 2;
    height: 150px;
}

.equal {
    background: rgba(255, 255, 255, 0.05);
}

div {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.div1 {
    background:linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    position: absolute;
    height: 40rem;
    width: 40rem;
    top: -250px;
    left: -250px;
    color: gold;
    z-index: -9;
    font-size: 15rem;
}

.div2 {
    background: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    position: absolute;
    height: 35rem;
    font-size: 15rem;
    width: 35rem;
    bottom: -200px;
    left: 150px;
    color: aqua;
    z-index: -9;
}

.div3 {
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    position: absolute;
    top: 100px;
    right: -250px;
    height: 40rem;
    font-size: 15rem;
    width: 40rem;
    z-index: -9;
    color: orchid;
}

.calc {
    font-size: 75px;
    color: white;
    text-align: center;
}