
.card {
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0.2rem 0.4rem 12rem rgba(0, 0, 0, 0.08);
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: transparent;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
}

h1 {
    font-size: 7rem;
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 20px;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}