

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monolisa';
    font-size: 18px;
}

body {
    height: 100vh;
    background: linear-gradient(66deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    width: 450px;
    background-color: white;
    padding: 70px 50px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.cf {
    width: 45%;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
